::-webkit-scrollbar{
    display: none;
}

@font-face {
    font-family: Konnect;
    src: url("/src/assets/fonts/Konnect/KonnectLight.otf");
}

@font-face {
    font-family: RealityHyper;
    src: url("/src/assets/fonts/reality_hyper/RealityHyperRegular.ttf");
}

