@font-face {
    font-family: Konnect;
    src: url("/public/assets/fonts/Konnect/KonnectLight.otf");
}

@font-face {
    font-family: RealityHyper;
    src: url("/public/assets/fonts/reality_hyper/Reality\ Hyper\ Regular.ttf");
}