.footer{
    width: 100%;
    height: 100px;
    background-color: var(--cinza-escuro);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Konnect;
    color: white;
    z-index: 10;
}

.img-footer{
    width: 250px;
}

.img-logo{
    width: 100%;
    height: 100%;
}

.redes-sociais{
    display: flex;
    gap: 30px;
}

.grupo-rede{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Konnect;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    font-size: 12px;
}

.rede{
    width: 40px;
}

.yt{
    padding: 5px 0;
}