@import url("/public/assets/css/fonts.css");

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cinza-fundo);
}

:root{
    --cinza-fundo: #555555;
    --cinza-escuro: #434141;
    --vermelho-rosa: #FF5252;
    --cinza-claro: #747474;
    --ouro: #FFD700;
    --prata: #C0C0C0;
    --bronze: #CD7F32;
}

::-webkit-scrollbar{
    display: none;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}