@import url("/public/assets/css/global.css");

.nav{
    background-color: var(--cinza-escuro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: #FFF solid 0.3px;
}

.nav-esquerda{
    display: flex;
    width: 30%;
    justify-content: space-evenly;
}

.nav-logo{
    width: 200px;
}

.a-logo{
    display: flex;
    align-items: center;
}

.btn-menu-hamburguer{
   width: 50px;
   height: 50px;
}

.btn-hamburguer{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    transition: 0.3s;
}

.btn-hamburguer:hover{
    background-color: var(--cinza-claro);
}

.img-hamburguer{
    width: 100%;
    height: 100%;
}

.nav-direita{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    font-family: Konnect;
}

.btn-entrar{
    text-decoration: none;
    color:white;
    padding: 10px;
    transition: 0.4s;
    border-radius: 10px;
}

.btn-entrar:hover{
    background-color: var(--cinza-claro);
}


.btn-cadastrar{
    color: white;
    text-decoration: none;
    background-color: var(--vermelho-rosa);
    padding: 10px;
    border-radius: 13px;
    font-family: Konnect;
    transition: 0.4s;
}

.btn-cadastrar:hover{
    color: var(--vermelho-rosa);
    background-color: #FFF;
}

.menu-lateral{
    height: 89vh;
    border-right: #FFF solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.4s;
}

.menuAberto{
    width: 20%;
    align-items:flex-start;
}

.menuFechado{
    width: 8%;
    align-items: center;
}

.links{
    display: flex;
    flex-direction: column;
    row-gap: 130px;
    width: 100%;
}

.link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    color: #FFF;
    font-family: Konnect;
}

.div-img-link{
    width: 60px;
}

.img-link{
    width: 100%;
}

.etiqueta{
    display: none;
}

.link-a{
    text-decoration: none;
    color: white
}


